/*
* littlelink V1
* https://littlelink.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/21/2019
*
* Built using:
*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Code
- Spacing
- Utilities
*
* You'll find the button css in css/brands.css.
*
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.container-left {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column {
  position: center;
  width: 100%;
  float: center;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 0;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
  font-size: 100%;
  color-scheme: dark;
}
body {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    background: #41924B;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #41924B;
  overflow: hidden;
}

.background span {
  width: 42vmin;
  height: 42vmin;
  border-radius: 42vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 20;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #81e55d;
  top: 44%;
  left: 57%;
  animation-duration: 226s;
  animation-delay: -8s;
  transform-origin: 12vw 22vh;
  box-shadow: -84vmin 0 11.124313210953623vmin currentColor;
}
.background span:nth-child(1) {
  color: #3c8660;
  top: 42%;
  left: 48%;
  animation-duration: 297s;
  animation-delay: -181s;
  transform-origin: 8vw 10vh;
  box-shadow: 84vmin 0 10.510487799533342vmin currentColor;
}
.background span:nth-child(2) {
  color: #adffbe;
  top: 56%;
  left: 61%;
  animation-duration: 278s;
  animation-delay: -185s;
  transform-origin: 16vw -17vh;
  box-shadow: -84vmin 0 11.295922415130008vmin currentColor;
}
.background span:nth-child(3) {
  color: #3c8660;
  top: 12%;
  left: 69%;
  animation-duration: 221s;
  animation-delay: -190s;
  transform-origin: -20vw -2vh;
  box-shadow: 84vmin 0 11.482036187745056vmin currentColor;
}
.background span:nth-child(4) {
  color: #3c8660;
  top: 68%;
  left: 93%;
  animation-duration: 184s;
  animation-delay: -121s;
  transform-origin: -17vw -4vh;
  box-shadow: -84vmin 0 10.548749006155358vmin currentColor;
}
.background span:nth-child(5) {
  color: #81e55d;
  top: 36%;
  left: 70%;
  animation-duration: 32s;
  animation-delay: -128s;
  transform-origin: -24vw 13vh;
  box-shadow: -84vmin 0 10.76288467651626vmin currentColor;
}
.background span:nth-child(6) {
  color: #adffbe;
  top: 39%;
  left: 49%;
  animation-duration: 286s;
  animation-delay: -255s;
  transform-origin: 11vw -4vh;
  box-shadow: 84vmin 0 10.575023982565305vmin currentColor;
}
.background span:nth-child(7) {
  color: #adffbe;
  top: 77%;
  left: 63%;
  animation-duration: 271s;
  animation-delay: -237s;
  transform-origin: -22vw -7vh;
  box-shadow: -84vmin 0 10.586255465990416vmin currentColor;
}
.background span:nth-child(8) {
  color: #adffbe;
  top: 27%;
  left: 26%;
  animation-duration: 184s;
  animation-delay: -256s;
  transform-origin: 19vw 20vh;
  box-shadow: 84vmin 0 10.661858568367053vmin currentColor;
}
.background span:nth-child(9) {
  color: #adffbe;
  top: 37%;
  left: 55%;
  animation-duration: 8s;
  animation-delay: -83s;
  transform-origin: -7vw -12vh;
  box-shadow: -84vmin 0 10.978111400411636vmin currentColor;
}
.background span:nth-child(10) {
  color: #81e55d;
  top: 88%;
  left: 74%;
  animation-duration: 141s;
  animation-delay: -217s;
  transform-origin: 6vw -1vh;
  box-shadow: -84vmin 0 11.242920914783493vmin currentColor;
}
.background span:nth-child(11) {
  color: #81e55d;
  top: 72%;
  left: 74%;
  animation-duration: 67s;
  animation-delay: -69s;
  transform-origin: 3vw -4vh;
  box-shadow: 84vmin 0 11.481421364273151vmin currentColor;
}
.background span:nth-child(12) {
  color: #adffbe;
  top: 18%;
  left: 100%;
  animation-duration: 292s;
  animation-delay: -6s;
  transform-origin: 14vw -20vh;
  box-shadow: 84vmin 0 11.256989492293593vmin currentColor;
}
.background span:nth-child(13) {
  color: #81e55d;
  top: 28%;
  left: 12%;
  animation-duration: 43s;
  animation-delay: -158s;
  transform-origin: -13vw 14vh;
  box-shadow: -84vmin 0 11.304732583505633vmin currentColor;
}
.background span:nth-child(14) {
  color: #3c8660;
  top: 73%;
  left: 46%;
  animation-duration: 168s;
  animation-delay: -298s;
  transform-origin: 21vw 3vh;
  box-shadow: 84vmin 0 11.165630554202494vmin currentColor;
}
.background span:nth-child(15) {
  color: #3c8660;
  top: 36%;
  left: 4%;
  animation-duration: 209s;
  animation-delay: -144s;
  transform-origin: -2vw -22vh;
  box-shadow: 84vmin 0 11.142458897378877vmin currentColor;
}
.background span:nth-child(16) {
  color: #81e55d;
  top: 54%;
  left: 90%;
  animation-duration: 239s;
  animation-delay: -238s;
  transform-origin: -17vw 14vh;
  box-shadow: -84vmin 0 11.174444109257443vmin currentColor;
}
.background span:nth-child(17) {
  color: #3c8660;
  top: 43%;
  left: 66%;
  animation-duration: 128s;
  animation-delay: -209s;
  transform-origin: 9vw -21vh;
  box-shadow: 84vmin 0 10.732208075041003vmin currentColor;
}
.background span:nth-child(18) {
  color: #81e55d;
  top: 70%;
  left: 65%;
  animation-duration: 243s;
  animation-delay: -236s;
  transform-origin: 10vw 6vh;
  box-shadow: 84vmin 0 11.190417244714881vmin currentColor;
}
.background span:nth-child(19) {
  color: #3c8660;
  top: 68%;
  left: 75%;
  animation-duration: 184s;
  animation-delay: -103s;
  transform-origin: 21vw -16vh;
  box-shadow: -84vmin 0 11.007461702034636vmin currentColor;
}
.background span:nth-child(20) {
  color: #81e55d;
  top: 4%;
  left: 54%;
  animation-duration: 195s;
  animation-delay: -32s;
  transform-origin: 23vw 7vh;
  box-shadow: 84vmin 0 11.353337829294398vmin currentColor;
}
.background span:nth-child(21) {
  color: #3c8660;
  top: 13%;
  left: 80%;
  animation-duration: 72s;
  animation-delay: -296s;
  transform-origin: 8vw 0vh;
  box-shadow: -84vmin 0 11.183319861811936vmin currentColor;
}
.background span:nth-child(22) {
  color: #81e55d;
  top: 52%;
  left: 72%;
  animation-duration: 6s;
  animation-delay: -277s;
  transform-origin: 20vw -7vh;
  box-shadow: 84vmin 0 11.057175661333272vmin currentColor;
}
.background span:nth-child(23) {
  color: #3c8660;
  top: 17%;
  left: 58%;
  animation-duration: 215s;
  animation-delay: -1s;
  transform-origin: -3vw 1vh;
  box-shadow: 84vmin 0 11.400309332740436vmin currentColor;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
}
h1 {
  font-size: 24px;
  line-height: 64px;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 48px;
    line-height: 96px;
  }
}

p {
  margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1c6124
}
a:hover {
  color: #aae55d;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
p,
ol {
  margin-bottom: 2.5rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}
/* Radius values:

10%-40%: Squircles
50% (default): True circle
*/
.avatar {
  width: 128px;
  height: 128px;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
}

/* open-sans-regular - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-800.eot'); /* IE9 Compat Modes */
  src: url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}